<p id="notice"><%= notice %></p>

<p>
  <b>Curso:</b>
  <%= @instancia.curso_id %>
</p>

<p>
  <b>Cantidad de alumnos:</b>
  <%= @instancia.cantidad_de_alumnos %>
</p>

<p>
  <b>Adeudan:</b>
  <%= @instancia.adeudan %>
</p>

<p>
  <b>Adeudan mas de tres:</b>
  <%= @instancia.adeudan_mas_de_tres %>
</p>

<p>
  <b>Adeudan menos de tres:</b>
  <%= @instancia.adeudan_menos_de_tres %>
</p>

<p>
  <b>Fecha:</b>
  <%= @instancia.fecha %>
</p>

<p>
  <b>Nombre:</b>
  <%= @instancia.nombre %>
</p>

<p>
  <b>Porc adeuda:</b>
  <%= @instancia.porc_adeuda %>
</p>

<p>
  <b>Porc mas de tres:</b>
  <%= @instancia.porc_mas_de_tres %>
</p>

<p>
  <b>Porc menos de tres:</b>
  <%= @instancia.porc_menos_de_tres %>
</p>


<%= link_to 'Edit', edit_instancia_path(@instancia) %> |
<%= link_to 'Back', instancias_path %>
