<%= form_for(@instancia) do |f| %>
  <% if @instancia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instancia.errors.count, "error") %> prohibited this instancia from being saved:</h2>

      <ul>
      <% @instancia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :curso_id %><br />
    <%= f.number_field :curso_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cantidad_de_alumnos %><br />
    <%= f.number_field :cantidad_de_alumnos %>
  </div>
  <div class="field">
    <%= f.label :adeudan %><br />
    <%= f.number_field :adeudan %>
  </div>
  <div class="field">
    <%= f.label :adeudan_menos_de_tres %><br />
    <%= f.number_field :adeudan_menos_de_tres %>
  </div>
  <div class="field">
    <%= f.label :adeudan_mas_de_tres %><br />
    <%= f.number_field :adeudan_mas_de_tres %>
  </div>
  <div class="field">
    <%= f.label :porc_adeuda %><br />
    <%= f.text_field :porc_adeuda %>
  </div>
  <div class="field">
    <%= f.label :porc_menos_de_tres %><br />
    <%= f.text_field :porc_menos_de_tres %>
  </div>
  <div class="field">
    <%= f.label :porc_mas_de_tres %><br />
    <%= f.text_field :porc_mas_de_tres %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
