<h2>Listado de intancias</h2>

<table class="table table-striped">
  <tr>
    <th>Curso</th>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Cantidad de alumnos</th>
    <th>Adeudan</th>
    <th>Adeudan menos de tres</th>
    <th>Adeudan mas de tres</th>
    <th>Porc. adeuda</th>
    <th>Porc. menos de tres</th>
    <th>Porc. mas de tres</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intancias.each do |instancia| %>
  <tr>
    <td><%= instancia.curso_id %></td>
    <td><%= instancia.nombre %></td>
    <td><%= instancia.fecha %></td>
    <td><%= instancia.cantidad_de_alumnos %></td>
    <td><%= instancia.adeudan %></td>
    <td><%= instancia.adeudan_menos_de_tres %></td>
    <td><%= instancia.adeudan_mas_de_tres %></td>
    <td><%= instancia.porc_adeuda %></td>
    <td><%= instancia.porc_menos_de_tres %></td>
    <td><%= instancia.porc_mas_de_tres %></td>
    <td><%= link_to 'ver', instancia, :class => "btn btn-small btn-secondary" %></td>
    <td><%= link_to 'editar', edit_instancia_path(instancia), :class => "btn btn-small btn-secondary"  %></td>
    <td><%= link_to 'eliminar', instancia, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn btn-small btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Instancia', new_instancia_path, :class => "btn btn-small btn-success"  %>
