<h1>Listing intancias</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Cantidad de alumnos</th>
    <th>Adeudan</th>
    <th>Adeudan menos de tres</th>
    <th>Adeudan mas de tres</th>
    <th>Porc adeuda</th>
    <th>Porc menos de tres</th>
    <th>Porc mas de tres</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intancias.each do |instancia| %>
  <tr>
    <td><%= instancia.curso_id %></td>
    <td><%= instancia.nombre %></td>
    <td><%= instancia.fecha %></td>
    <td><%= instancia.cantidad_de_alumnos %></td>
    <td><%= instancia.adeudan %></td>
    <td><%= instancia.adeudan_menos_de_tres %></td>
    <td><%= instancia.adeudan_mas_de_tres %></td>
    <td><%= instancia.porc_adeuda %></td>
    <td><%= instancia.porc_menos_de_tres %></td>
    <td><%= instancia.porc_mas_de_tres %></td>
    <td><%= link_to 'Show', instancia %></td>
    <td><%= link_to 'Edit', edit_instancia_path(instancia) %></td>
    <td><%= link_to 'Destroy', instancia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instancia', new_instancia_path %>
