<p id="notice"><%= notice %></p>

<p>
  <b>Curso:</b>
  <%= @instancia.curso_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @instancia.nombre %>
</p>

<p>
  <b>Fecha:</b>
  <%= @instancia.fecha %>
</p>

<p>
  <b>Cantidad de alumnos:</b>
  <%= @instancia.cantidad_de_alumnos %>
</p>

<p>
  <b>Adeudan:</b>
  <%= @instancia.adeudan %>
</p>

<p>
  <b>Adeudan menos de tres:</b>
  <%= @instancia.adeudan_menos_de_tres %>
</p>

<p>
  <b>Adeudan mas de tres:</b>
  <%= @instancia.adeudan_mas_de_tres %>
</p>

<p>
  <b>Porcentaje adeuda:</b>
  <%= @instancia.porc_adeuda %>
</p>

<p>
  <b>Porcentaje menos de tres:</b>
  <%= @instancia.porc_menos_de_tres %>
</p>

<p>
  <b>Porcentaje mas de tres:</b>
  <%= @instancia.porc_mas_de_tres %>
</p>


<%= link_to 'editar', edit_instancia_path(@instancia) %> |
<%= link_to 'atras', intancias_path %>
