<%= nested_form_for(@organizacion)  do |f| %>
  <% if @organizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizacion.errors.count, "error") %> prohibited this organizacion from being saved:</h2>

      <ul>
      <% @organizacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Ciudad por Región" %><br />
    <%= grouped_collection_select(:organizacion, :ciudad_id, Region.all, :ciudad, :nombre, :id, :nombre) %>
  </div>
  <div class="field">
    <%= f.label "Número" %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>

 
  <div class="field">
    <label>Curso:</label><br />
      <%= f.fields_for :curso do |c|%>
        <p>
          <!-- Año: <%= select(:curso, :anio, (1..7).to_a) %>
          Division: <%= select(:curso, :division, (1..10).to_a) %> -->
          Año: <%= c.text_field(:anio)%>
          División: <%= c.text_field(:division)%>
          Nombre: <%= c.text_field(:nombre)%>
          <%= c.link_to_remove "eliminar", :class => "btn btn-danger btn-mini" %>
        </p>
      <% end %>
    <p><%= f.link_to_add "agregar curso", :curso, :class => "btn btn-success" %></p>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
