<h2>Listado de organizaciones</h2>

<table class="table table-striped">
  <tr>
    <th>Ciudad</th>
    <th>N&uacute;mero</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizaciones.each do |organizacion| %>
  <tr>
    <td><%= organizacion.ciudad_id %></td>
    <td><%= organizacion.numero %></td>
    <td><%= organizacion.nombre %></td>
    <td><%= link_to 'ver', organizacion, :class => "btn btn-small btn-secondary" %></td>
    <td><%= link_to 'editar', edit_organizacion_path(organizacion), :class => "btn btn-small btn-secondary" , :class => "btn btn-small btn-secondary"  %></td>
    <td><%= link_to 'eliminar', organizacion, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn btn-small btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Organización', new_organizacion_path, :class => "btn btn-small btn-success"  %>
