<p id="notice"><%= notice %></p>

<p>
  <b>Ciudad:</b>
  <%= @organizacion.ciudad_id %>
</p>

<p>
  <b>N&uacute;mero:</b>
  <%= @organizacion.numero %>
</p>

<p>
  <b>Nombre:</b>
  <%= @organizacion.nombre %>
</p>


<%= link_to 'editar', edit_organizacion_path(@organizacion) %> |
<%= link_to 'atras', organizaciones_path %>
