<%= form_for(@materias_instancium) do |f| %>
  <% if @materias_instancium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materias_instancium.errors.count, "error") %> prohibited this materias_instancium from being saved:</h2>

      <ul>
      <% @materias_instancium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :materia_id %><br />
    <%= f.number_field :materia_id %>
  </div>
  <div class="field">
    <%= f.label :instancia_id %><br />
    <%= f.number_field :instancia_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
