<h1>Listing materias_instancia</h1>

<table>
  <tr>
    <th>Materia</th>
    <th>Instancia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materias_instancia.each do |materias_instancium| %>
  <tr>
    <td><%= materias_instancium.materia_id %></td>
    <td><%= materias_instancium.instancia_id %></td>
    <td><%= link_to 'Show', materias_instancium %></td>
    <td><%= link_to 'Edit', edit_materias_instancium_path(materias_instancium) %></td>
    <td><%= link_to 'Destroy', materias_instancium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Materias instancium', new_materias_instancium_path %>
