<p id="notice"><%= notice %></p>

<p>
  <b>Materia:</b>
  <%= @materias_instancium.materia_id %>
</p>

<p>
  <b>Instancia:</b>
  <%= @materias_instancium.instancia_id %>
</p>


<%= link_to 'Edit', edit_materias_instancium_path(@materias_instancium) %> |
<%= link_to 'Back', materias_instancia_path %>
