<%= form_for(@instancium) do |f| %>
  <% if @instancium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instancium.errors.count, "error") %> prohibited this instancium from being saved:</h2>

      <ul>
      <% @instancium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :curso_id %><br />
    <%= f.number_field :curso_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cantidad_de_alumnos %><br />
    <%= f.number_field :cantidad_de_alumnos %>
  </div>
  <div class="field">
    <%= f.label :varones %><br />
    <%= f.number_field :varones %>
  </div>
  <div class="field">
    <%= f.label :mujeres %><br />
    <%= f.number_field :mujeres %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
