<h1>Listing instancia</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Cantidad de alumnos</th>
    <th>Varones</th>
    <th>Mujeres</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instancia.each do |instancium| %>
  <tr>
    <td><%= instancium.curso_id %></td>
    <td><%= instancium.nombre %></td>
    <td><%= instancium.fecha %></td>
    <td><%= instancium.cantidad_de_alumnos %></td>
    <td><%= instancium.varones %></td>
    <td><%= instancium.mujeres %></td>
    <td><%= link_to 'Show', instancium %></td>
    <td><%= link_to 'Edit', edit_instancium_path(instancium) %></td>
    <td><%= link_to 'Destroy', instancium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instancium', new_instancium_path %>
