<p id="notice"><%= notice %></p>

<p>
  <b>Curso:</b>
  <%= @instancium.curso_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @instancium.nombre %>
</p>

<p>
  <b>Fecha:</b>
  <%= @instancium.fecha %>
</p>

<p>
  <b>Cantidad de alumnos:</b>
  <%= @instancium.cantidad_de_alumnos %>
</p>

<p>
  <b>Varones:</b>
  <%= @instancium.varones %>
</p>

<p>
  <b>Mujeres:</b>
  <%= @instancium.mujeres %>
</p>


<%= link_to 'Edit', edit_instancium_path(@instancium) %> |
<%= link_to 'Back', instancia_path %>
