<%= nested_form_for(@curso)  do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organizacion_id %><br />
    <%= collection_select(:curso, :organizacion_id, Organizacion.all, :id, :nombre) %>
  </div>
  <div class="field">
    <%= f.label "año" %><br />
    <%= select(:curso, :anio, (1..7).to_a) %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= select(:curso, :division, (1..10).to_a) %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :class => "span2" %>
  </div>

  <div class="field">
    <label>Curso:</label><br />
      <%= f.fields_for :instancia do |i|%>
        <p>
          Nombre: <%= i.text_field(:nombre) %>
          Cant. Alumnos: <%= select(:instancia, :cantidad_de_alumnos, (1..10).to_a) %>
          Nombre: <%= %>
          <%= i.link_to_remove "eliminar", :class => "btn btn-danger btn-mini" %>
        </p>
      <% end %>
    <p><%= f.link_to_add "agregar instancia", :instancia, :class => "btn btn-success" %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
