<%= nested_form_for(@curso)  do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% if current_user.role? :organizacion then %>
    <h3> <%= current_user.organizacion.nombre %> </h3>
    <% end %>
    <!--<%= f.label :organizacion_id, :class => "hidden" %> -->
    <!--<%= f.text_field :organizacion_id, :class => "hidden", :value => "" %> -->
  </div>
  <h5>
  <div class="field">
    <%= f.label "Año" %>
    <%= select(:curso, :anio, (1..7)) %>
  </div>
  <div class="field">
    <%= f.label "División" %>
    <%= select(:curso, :division, (1..10)) %>
  </div>
  <div class="field">
    <%= f.label "Nombre del Curso" %>
    <%= f.text_field :nombre %>
  </div>
  </h5>

  <div class="field">
    <label><h5>Instancia:</h5></label>
      <%= f.fields_for :instancias do |i|%>
        <p>

          <h5>Nombre de la Instancia: <%= i.text_field(:nombre) %></h5> 
          <h5>Cantidad de Alumnos: &nbsp; <%= i.text_field(:cantidad_de_alumnos, :class => "input-mini") %></h5>
          <h5>
          Adeudan: <%= i.text_field(:adeudan, :class => "input-mini") %>
          Adeudan más de 3: <%= i.text_field(:adeudan_mas_de_tres, :class => "input-mini") %>&nbsp;
          Adeudan menos de 3: <%= i.text_field(:adeudan_menos_de_tres, :class => "input-mini") %>
          </h5>
          <h5>Fecha: <%= i.date_select(:fecha) %></h5>

          <%= i.link_to_remove "eliminar", :class => "btn btn-danger btn-mini" %>
        </p>
      <% end %>
    <p><%= f.link_to_add "Agregar Instancia", :instancias, :class => "btn btn-success" %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
