<%= nested_form_for(@curso)  do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organizacion_id %><br />
    <%= collection_select(:curso, :organizacion_id, Organizacion.all, :id, :nombre) %>
  </div>
  <div class="field">
    <%= f.label "año" %><br />
    <%= select(:curso, :anio, (1..7)) %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= select(:curso, :division, (1..10)) %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :class => "span2" %>
  </div>

  <div class="field">
    <label>Instancia:</label><br />
      <%= f.fields_for :instancias do |i|%>
        <p>

          Nombre de la Instancia: <%= i.text_field(:nombre) %>&nbsp;
          Cant. Alumnos: <%= i.text_field(:cantidad_de_alumnos, :class => "input-mini") %>&nbsp;
          Adeudan: <%= i.text_field(:adeudan, :class => "input-mini") %>&nbsp;
          Adeudan más de 3: <%= i.text_field(:adeudan_mas_de_tres, :class => "input-mini") %>&nbsp;
          Adeudan menos de 3: <%= i.text_field(:adeudan_menos_de_tres, :class => "input-mini") %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Fecha: <%= i.date_select(:fecha) %>

          <%= i.link_to_remove "eliminar", :class => "btn btn-danger btn-mini" %>
        </p>
      <% end %>
    <p><%= f.link_to_add "agregar instancia", :instancias, :class => "btn btn-success" %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
