<p id="notice"><%= notice %></p>

<p>
  <b>Organizacion:</b>
  <%= @curso.organizacion_id %>
</p>

<p>
  <b>A&ntilde;o:</b>
  <%= @curso.anio %>
</p>

<p>
  <b>Divisi&oacute;n:</b>
  <%= @curso.division %>
</p>

<p>
  <b>Nombre:</b>
  <%= @curso.nombre %>
</p>


<%= link_to 'ver', edit_curso_path(@curso) %> |
<%= link_to 'atras', cursos_path %>