<h2>Listado de ciudades</h2>

<table class="table table-striped">
  <tr>
    <th>Regi&oacute;n</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ciudades.each do |ciudad| %>
  <tr>
    <td><%= ciudad.region_id %></td>
    <td><%= ciudad.nombre %></td>
    <td><%= link_to 'ver', ciudad, :class => "btn btn-small btn-secondary" %></td>
    <td><%= link_to 'editar', edit_ciudad_path(ciudad), :class => "btn btn-small btn-secondary"  %></td>
    <td><%= link_to 'eliminar', ciudad, method: :delete, data: { confirm: 'Esta seguro de que desea eliminar?' }, :class => "btn btn-small btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Ciudad', new_ciudad_path, :class => "btn btn-small btn-success"  %>
